@charset "UTF-8";

/*
Pequenas telas: 600px
Celular: 600 a 768px
Tablet: 768 a 992px
Desktop: 992 a 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login{
        width: 85vw;
    }
    
    section#login > div#imagem{
        background-image: url(../imagens/pexels-jessbaileydesign-895465.jpg);
        float: left;
        width: 40%;
        height: 100%;
    }
    section#login > div#form{
        float: right;
        margin-top: 80px;
        width: 60%;
    }
    section#login > div#form > h1{
        margin-bottom: 14px;
        font-size: 1.8em;
    
    }
    section#login > div#form > p{
        margin-bottom: 20px;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width: 950px;
    }
    
    section#login > div#imagem{
        background-image: url(../imagens/pexels-jessbaileydesign-895465.jpg);
        float: left;
        width: 40%;
        height: 100%;
    }
    section#login > div#form{
        float: right;
        margin-top: 80px;
        width: 60%;
    }
    section#login > div#form > h1{
        margin-bottom: 14px;
        font-size: 2em;
        
    }
    section#login > div#form > p{
        margin-bottom: 20px;
        font-size: 1.6em;
    }
}